<h1>Approve Loan</h1>

<%= form_with(model: @loan, url: approve_loan_path(@loan), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, step: 0.01, value: @loan.interest_rate || 5 %>
  </div>

  <div class="actions">
    <%= form.submit 'Approve Loan' %>
  </div>
<% end %>

<%= link_to 'Back', loans_path %>